.about-container h1{
  color: #ffcb74;
  text-align: center;
  margin-top: 10px;
}

.about-section{
  display: flex;
  justify-content: space-evenly;
  margin:5% 10%;
}

.about-image img{
  width: 500px;
  height: 350px;
}

.about-detail p{ 
  padding: 5px 0;
  text-wrap: break-word;
  text-align: justify;
  margin-left: 5%;
  font-weight: 700;
  color: #3b3b3b;
}

.people-detail{
margin: 0 35%;
align-content: center;
text-align: center;
margin-bottom: 30px;
}

.people-detail h2{
  font-size: 30px;
  padding-bottom: 10px;
}

.people-detail p{
  font-size: 18px;
  font-weight: 400;
}

.about-people{
  display: flex;
  justify-content: space-evenly;
}

.about-poeple-image {
  margin-bottom: 20px;
}

.about-poeple-image img{
  width: 270px;
  height: 290px;
  border-radius: 30px;
}

.about-poeple-detail h3{
  padding-top: 20px;
  text-align: center;
}

.about-poeple-detail p{
  text-align: center;
  margin-bottom: 10%;
}