/* Navbar 1 */
.navbar{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ffffff ;
  background: #1c1c1c;
  padding: 20px 0;
}

.navbar .logo{
  font-size: 30px;
  color: rgb(255, 136, 0);
  text-align: left;
  text-decoration: none;
  font-weight: 900;
  margin-left: 20%;
  margin-right: 30px;
}

.navbar form{
  width: 40%;
  align-content: center;
  display: flex;
  border-radius: 5px;
  background: #fafafa;
  
}

.navbar form input{
  width: 100%;
  background-color: transparent;
  border-style: none;
  outline: 10px;
  font-size: 18px;

}

.navbar .fasearch{
  padding: 13px 13px;
  color: rgb(10, 10, 10);
  font-size: 20px;
  background-color: grey;
}

.navbar .fasearch:hover{
  color: rgb(255, 251, 251);
  background-color: #000000;
}

.nav-bag{
  display: flex;
}

.nav-bag .cart{
  padding-top: 10px;

}

.nav-bag span{
  color: yellow;
}

.navbar .cart a{
  color: rgb(255, 253, 253);
  font-size: 25px;
}


.navbar #login ul{
  display: flex;
  padding: 13px 10px;
}

.navbar #login ul li {
  justify-content: space-around;
  font-size: 20px;
  list-style: none;
  margin: 0 30px;
}

.navbar #login ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}


#logout{
  display: flex;
  justify-content: space-evenly;
  padding-top: 13px;
}

#logout span{
  color: white;
  font-size: 20px;
}


.navbar button{
  padding: 1px 30px;
  background-color: #ffffff;
  color: rgb(34, 32, 32);
  font-size: 16px;
  cursor: pointer;
  margin-left:20px;
  border-radius: 5px;
  transition: opacity 0.15s;
  border-style: none;
  margin-right: 8%;
  align-items: center;
}


.navbar button:hover{
  opacity: 0.6;
}

.navbar button:active{
  background-color: #000000;
  color: rgb(255, 255, 255);
}


/* Navbar 2 */
nav{
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid #eeecec ;
  background: #302a18;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

nav ul li{
  position: relative;
}

nav ul li a {
  padding: 20px 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
}

nav ul li ul.dropdown li{
  display:block;
  width: 100%;
  border-bottom: 1px solid rgba(247, 244, 244, 0.63);
}


nav ul li ul.dropdown{
  margin-top: 15px;
  position: absolute;
  z-index: 999;
  display: none;
  cursor: pointer;
  background: rgb(0, 0, 0);
}

nav .dropdown{
  font-size: 20px;
  color: white;
  width:220%;
  font-weight: 500;
}

nav .dropdown li{
  padding-bottom: 10px;
  padding-top: 10px;
  
}


nav ul a:hover{
  color: rgb(155, 113, 59);
}

nav ul li:hover ul.dropdown{
  display:block;
}
