
/*testimonia*/
.testimonial-container #header{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0 45%;
  color:#e49102 ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 10px;
}

.testimonia-section{    
  width: 250px; 
  margin-left: 50px;
  margin-top:30px ;
  margin-bottom: 50px;
  box-shadow: 1px 3px 5px 4px rgba(0, 0, 0, 0.397);
  border-style: none;
  border-radius: 10px

}

.testimonia-image{
 padding-left:30%;
 padding-top: 30px;
}

.testimonia-image img{
  border-radius: 50px;
  width: 80px;
  height: 80px;
}

.testimonia-detail{
  padding-top: 20px;
  padding-bottom: 20px;
}

.testimonia-detail .name{
  color: rgba(26, 26, 26, 0.719);
  font-size: 15px;
 text-align: center; 
}

.testimonia-detail .position{
  text-align: center;
  font-size: 16px;
  color: grey;
  padding-top: 2.5px;
}

.testimonia-detail .description{
  text-align: center;
  font-weight: 300;
  padding-top: 10px;
}

/*banner*/
.product-banner{
  background-image: url('../product_component/Apple_component/apple-image/iphone_banner.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding: 5% 5%;
margin-bottom: 2.5%;
color: white;
}

.bannerimage {
 padding-top: 50px;
}

.bannerimage .image{
  padding-right: 20px;
}
