
/*testimonia*/
.testimonial-container #header{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0 45%;
  color:#e49102 ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 10px;
}

.testimonia-section{    
  width: 250px; 
  margin-left: 50px;
  margin-top:30px ;
  margin-bottom: 50px;
}

.testimonia-image{
  box-sizing: content-box;
  width: 160px;
  height: 40px;
  padding-left: 70px;
  
}

.testimonia-image img{
  border-radius: 50px;
  width: 80px;
  height: 80px;
  z-index: 9999999;
}

.testimonia-detail{
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.411);
  padding-top: 50px;
  border-radius: 10px;
  transition: transform 0.15s; 
  max-height: 400px;
  max-width: 400px;
}

.testimonia-detail:hover{
  background-color: #e49102;
  color: rgb(253, 251, 251);
  transform: translateY(2px)
}

.testimonia-detail p{
  text-align: justify;
  font-weight: bold;
  padding: 0 10px;
}
