.footer-detail{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #fafafa;
  padding-bottom: 60px;
}


.footer-col .logo{
  margin-top: 30PX;
  text-decoration: none;
  font-size: 30px;
  color: rgb(255, 136, 0);
  font-weight: 900;
}

.footer-col .icons{
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.footer-col .icons li{
  padding: 5px;
  border-radius: 50px
}


.icons .facebook:hover{
  color: blue;
}

.icons .twitter:hover{
  color: rgb(0, 0, 255)
}

.icons .linkedin:hover{
  color: rgb(106, 106, 245);
}

.icons .whatsapp:hover{
  color: green; 
}

.footer-col h2{
  padding-top: 30px;
  color: darkgrey;  
  
}

.footer-col ul{
  text-decoration: none;
  list-style: none;
  padding-top: 10px;
}

.footer-col ul li .link{
  text-decoration: none;
  color: black;
}

.footer-col ul li{
  padding-top: 5px;
  cursor: pointer;
}
.footer-container .copyright{
  padding-top: 10px;
  background-color: #fafafa;
  text-align: center;
}