.newsletter-detail{
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.newsletter-detail h1{
  color: white;
}

.form-action{
  border: 1px solid rgb(252, 250, 250);
}

.form-action input{
  padding: 15px;
  color: rgb(175, 172, 172);
  background-color: white;
  border-style: none;
  width: 400px;
}

.form-action button{
  padding: 15px;
  background-color: rgb(3, 3, 3);
  color: rgb(252, 251, 251);
  border: none;
}

.form-action button:hover{
  background-color: grey;
  color: rgb(3, 3, 3);
}

.footer-detail{
  margin-top: 4px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.452);
  padding-bottom: 60px;
}


.footer-col .logo{
  margin-top: 30PX;
  text-decoration: none;
  font-size: 30px;
  color: rgb(255, 136, 0);
  font-weight: 900;
}

.footer-col .icons{
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.footer-col .icons li{
  padding: 5px;
  border-radius: 50px
}


.icons .facebook:hover{
  color: blue;
}

.icons .twitter:hover{
  color: rgb(0, 0, 255)
}

.icons .linkedin:hover{
  color: rgb(106, 106, 245);
}

.icons .whatsapp:hover{
  color: green; 
}

.footer-col h2{
  padding-top: 30px;
  color: black;  
  
}

.footer-col ul{
  text-decoration: none;
  list-style: none;
  padding-top: 10px;
}

.footer-col ul li .link{
  text-decoration: none;
  color: black;
}

.footer-col ul li{
  padding-top: 5px;
  cursor: pointer;
}
.footer-container .copyright{
  border-top:1px solid rgb(70, 69, 69);
  padding-top: 5px;
  background-color: rgba(128, 128, 128, 0.452);;
  text-align: center;
}