.feature-categories{
  margin-top: 30px;
  width: 100%;
  color: #302a1b;
}

.feature-categories h1{
  font-size: 30px;
  margin-left: 40px;
}

.feature-categories p{
  font-size: 22px;
  margin-left: 40px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px
}

/* Product section*/

.product-feature{
  border: 1px solid transparent;
  width: 300px;
  margin-left: 20px;
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  transition: transform 0.20s;
}

.product-feature:hover{
  transform: translateY(-10px);
}

.product-feature img{
  width: 250px;
  height: 250px;
}

/*.rate{
  background-color: #ffcb74;
  width:90px;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}*/

#like_heart{
  display:flex;
  justify-content: space-between; 
}

#like_heart .offers{
  background-color: #ffcb74;
  padding: 0 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.product-feature .like_heart{
  font-size: 25px;
  text-align: right;
  padding-right: 20px;
  padding-top: 8px;
}

.like_heart:hover{
 color: red;
}

.product-details h2{
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

.product-details .price{
  text-align:center;
  font-size: 18px;
  margin-top: 25px;
  
}

.product-details .price button{
  color: rgb(7, 7, 7);
  background-color: #f7f1ea;
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.product-details .button{
  display: flex;
  justify-content: space-evenly;
}

.product-details button{
  border: none;
  width: 125px;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  background-color:#b38b59;
  color: rgb(253, 250, 250);
  margin-bottom: 10px;
  align-content: center;
  cursor: pointer;
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.product-details button:hover{
  background-color: #302a1b;
  color: rgb(253, 251, 251);
}

/*Banner*/
.banner{
background-image: url('./images/1stkvdesk.webp');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding: 15% 5%;
}

@media only screen and (max-width: 767px) {
  .product-feature{
    border: 1px solid transparent;
    width: 250px;
    margin-left: 50px;
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.05);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: transform 0.20s;
  }
  
  .product-feature:hover{
    transform: translateY(-10px);
  }
  
  .product-feature img{
    width: 150px;
    height: 150px;
  }
  
  .rate{
    background-color: #ffcb74;
    width:90px;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .product-details h2{
    font-size: 18px;
    text-align: center;
  }
  
  .product-details .price{
    text-align:center
  }
  
  .product-details button{
    border: none;
    width: 150px;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    background-color:#b38b59;
    color: rgb(253, 250, 250);
    margin-bottom: 10px;
    align-content: center;
    margin-left: 50px;
    cursor: pointer;
    transition: transform 0.15s;
  }
  
  .product-details button:hover{
    background-color: #302a1b;
    color: rgb(253, 251, 251);
    transform: translateY(2px)
  }
}

@media only screen and (max-width: 480px) {

}